<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <title href="/ideas">Plataforma de Ideias</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header>
    <h1 href="/ideas">Plataforma de Ideias</h1>
    <nav>
      <a href="/ideas">Ideias</a>
      {{#if currentUser}}
        <a href="/ideas/create">Criar</a>
        <a href="/ideas/my/ideas">Meu Perfil</a>
        {{!-- <span style="color: aliceblue;">Olá, {{currentUser.name}}!</span> --}}
        <form action="/logout" method="POST" class="inline-form">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <button type="submit">Sair</button>
        </form>
      {{else}}
        <a href="/login">Login</a> | <a href="/register">Registrar</a>
      {{/if}}
    </nav>
  </header>

  <main>
    {{> flash }}
    {{{ body }}}
  </main>
</body>
</html>
